{% extends "admin_base.html" %}
{% block title %}Admin - Times - Service Desk{% endblock %}
{% block page_title %}Gerenciar Times{% endblock %}

{% block content %}
    <div>
        <table class="w-full border-collapse">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border p-2">Nome</th>
                    <th class="border p-2">Dono</th>
                    <th class="border p-2">Membros</th>
                    <th class="border p-2">Pontos Totais</th>
                    <th class="border p-2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="border p-2">{{ team.name }}</td>
                        <td class="border p-2">{{ team.owner.name }}</td>
                        <td class="border p-2">{{ team.members.count() }}</td>
                        <td class="border p-2">{{ team.total_points }}</td>
                        <td class="border p-2">
                            <form method="POST" action="{{ url_for('admin_delete_team', team_id=team.id) }}" class="inline">
                                {{ form.csrf_token }}
                                <button type="submit" class="text-red-500 hover:underline">Dissolver</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}